#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.btn{
  /* Estilos del texto */
  color: #000; /* Color naranja atardecer */
  text-align: center; /* Centrar el texto */
  
  /* Estilos del borde */
  border: 2px solid #000; /* Borde negro de 2px */
  
  /* Estilos de presentación */
  padding: 10px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  border-radius: 5px; /* Bordes redondeados */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
