.container{
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 25px, 25px;
  flex-direction: column;
  align-items: center;
  background-color: #11607c;
  font-family: Arial, Helvetica, sans-serif;

}

.container_body{
  width: 100%;
  padding: 50px;
}


.conteiner_Dr{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.conteiner_Dr2{
  font-size: 25px;
  margin-bottom: 30px ;
}


